<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Automation">
	<test verbose="1" name="IncubyteTest" parallel="methods" thread-count="1">
		<classes>
			<!--
			
			<class name="com.example.runners.RegistrationRunner"/>
			<class name="com.example.runners.LoginAccountRunner"/>

			-->
			
			<class name="com.example.runners.RegistrationRunner"/>
			<class name="com.example.runners.LoginAccountRunner"/>

		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->
